.card-payment {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .card-payment input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .card-payment button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .card-payment button:hover {
   background-color: darkgreen;
  }